!!!
html(ng-app="peseed")
  head
    meta(charset='utf8')
    title #{title}
    //- link(rel='stylesheet', href='#{config.appBase}/shared/font-awesome/css/font-awesome.min.css')
    //- link(rel='stylesheet', href='#{config.appBase}/shared/monkeynaut/dist/css/projevo-core.pkg.css')
    link(rel='stylesheet', href='#{productRoute}/shared/monkeynaut/dist/css/projevo-ionic.pkg.css')
    link(rel='stylesheet', href='#{productRoute}/web/css/app.css')
    
    include /core/shared/branding
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
  body
    script(src='#{productRoute}/shared/monkeynaut/dist/js/bundle-ionic.min.js')
    include /core/shared/scripts
    block body
