script#main(type='text/ng-template')
    div#fu(style="border: solid 1px #000000; padding: 5px; margin-bottom: 5px;")
        h2 #{__("txtFu")}
        div
            form
                input#fu(type="text", ng-model='searchFu')
                button(ng-click="getFu()") Get

            div
                table.table.table-striped
                    thead
                        th #{__("txtFu")}
                        th #{__("txtBar")}
                        th #{__("txtValue")}
                    tbody
                        tr(ng-repeat="f in fus track by $index", id="fu_{{$index}}", style="cursor:pointer;")
                            td.colcenter {{f.fu}}
                            td.colcenter {{f.bar}}
                            td.colcenter {{f.value | number}}

    div#bar(style="border: solid 1px #000000; padding: 5px; margin-bottom: 5px;")
        h2 #{__("txtBar")}
        div
            form
                input#bar(type="text", ng-model='searchBar')
                button(ng-click="getBar()") Get
            div
                table.table.table-striped
                    thead
                        th #{__("txtFu")}
                        th #{__("txtBar")}
                        th #{__("txtValue")}
                    tbody
                        tr(ng-repeat="b in bars track by $index", id="bar_{{$index}}", style="cursor:pointer;")
                            td.colcenter {{b.fu}}
                            td.colcenter {{b.bar}}
                            td.colcenter {{b.value | number}}

    div#fubar(style="border: solid 1px #000000; padding: 5px;")
        h2 #{__("txtFubar")}
        div
            form
                input#fubarFu(type="text", ng-model='searchFubarFu')
                input#fubarBar(type="text", ng-model='searchFubarBar')
                button(ng-click="getFubar()") Get
            div
                table.table.table-striped
                    thead
                        th #{__("txtFu")}
                        th #{__("txtBar")}
                        th #{__("txtValue")}
                    tbody
                        tr(ng-repeat="fb in fubars track by $index", id="fubar_{{$index}}", style="cursor:pointer;")
                            td.colcenter {{fb.fu}}
                            td.colcenter {{fb.bar}}
                            td.colcenter {{fb.value | number}}
